<div class="table-container">
    <table mat-table [dataSource]="standings" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.position }}. </td>
        </ng-container>
            
        <!-- User Column -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let row">
                <div class="user-container">
                    <app-user
                        [leagueUser]="getLeagueUser(this.row.roster.owner_id)"
                        [leagueId]="this.leagueId"
                        [preview]="true"
                    ></app-user>
                </div>
                <div class="sub-user-container small">
                    PF: {{ getPointsFor(row.roster) }} - PA: {{ getPointsAgainst(row.roster) }}
                </div>
            </td>
        </ng-container>

        <!-- Wins Column -->
        <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef>W</th>
        <td mat-cell *matCellDef="let row"> {{ row.roster.settings.wins }} </td>
        </ng-container>

        <!-- Ties Column -->
        <ng-container matColumnDef="ties">
            <th mat-header-cell *matHeaderCellDef>T</th>
            <td mat-cell *matCellDef="let row"> {{ row.roster.settings.ties }} </td>
        </ng-container>

        <!-- Losses Column -->
        <ng-container matColumnDef="losses">
            <th mat-header-cell *matHeaderCellDef>L</th>
            <td mat-cell *matCellDef="let row"> {{ row.roster.settings.losses }} </td>
        </ng-container>

        <!-- Record Column -->
        <ng-container matColumnDef="record">
            <th mat-header-cell *matHeaderCellDef>Record</th>
            <td mat-cell *matCellDef="let row">
                <span>{{ getRecordString(row.roster) }}</span>
                <span style="margin-left: 5px;" class="small">({{ row.roster.metadata?.streak }})</span>
            </td>
        </ng-container>

        <!-- Percentage Column -->
        <ng-container matColumnDef="percentage">
            <th mat-header-cell *matHeaderCellDef>%</th>
            <td mat-cell *matCellDef="let row"> {{ getRecord(row.roster) | number: '1.2-2'}} </td>
        </ng-container>

        <!-- Points For Column -->
        <ng-container matColumnDef="pf">
            <th mat-header-cell *matHeaderCellDef>PF</th>
            <td mat-cell *matCellDef="let row"> {{ getPointsFor(row.roster) | number: '1.2-2'}} </td>
        </ng-container>

        <!-- Points Against Column -->
        <ng-container matColumnDef="pa">
            <th mat-header-cell *matHeaderCellDef>PA</th>
            <td mat-cell *matCellDef="let row"> {{ getPointsAgainst(row.roster) | number: '1.2-2'}} </td>
        </ng-container>
    
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getTableRowClass(row)"></tr>
    </table>
</div>
