<span *ngIf="rosterAndLeagues !== undefined">
    <span *ngFor="let rosterAndLeague of rosterAndLeagues">
        <span class="info">{{ getUserDisplayName(rosterAndLeague.leagueId, rosterAndLeague.rosterId) | async }}</span>
        <span class="info">({{ getLeagueName(rosterAndLeague.leagueId) | async }})</span>
    </span>
    <!-- <div *ngFor="let row of data.values()">
        <span class="info">{{ row.user }}</span>
        <span class="info">({{ row.league }})</span>
    </div> -->
</span>