position-div {
    margin-bottom: 10px;
}

.row {
    background-color: dimgray !important;
    width: 600px;
}

.error {
    color: red;
}

h1 button {
    background-color: dimgray;
    margin-left: 5px;
}