<mat-tab-group>
    <mat-tab label="Weekly Awards">
        <ng-template matTabContent>
            <!-- <app-weekly-awards></app-weekly-awards> -->
            <button mat-fab color="primary"
                [style.width]="'400px'"
                [style.height]="'400px'"
                [style.fontSize]="'40px'"
                [style.backgroundImage]="'url(' + 'assets/img/construction2.jpg' + ')'"
            >
                Coming soon...
            </button>
        </ng-template>
    </mat-tab>
    <mat-tab label="Season Awards">
        <ng-template matTabContent>
            <button mat-fab color="primary"
                [style.width]="'400px'"
                [style.height]="'400px'"
                [style.fontSize]="'40px'"
                [style.backgroundImage]="'url(' + 'assets/img/construction.jpg' + ')'"
            >
                Coming soon...
            </button>
        </ng-template>
    </mat-tab>
  </mat-tab-group>
  