<h1>
    Awards Week {{ currentWeek }}
    <button mat-mini-fab (click)="this.addWeek(-1)">
      -
    </button>
    <button mat-mini-fab (click)="this.addWeek(1)">
        +
    </button>
    <mat-form-field class="league-select">
        <mat-label>League</mat-label>
        <mat-select [(value)]="selectedLeagueId" (selectionChange)="selectLeague()">
          <mat-option *ngFor="let league of getSortedLeagues()" [value]="league.league_id">
            {{ getLeagueName(league.league_id) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</h1>

<div *ngIf="this.awards === undefined">
    <div *ngIf="this.error" class="error">
        Error loading data
    </div>
    <div *ngIf="!this.error">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div *ngIf="this.awards !== undefined">

    <div *ngFor="let award of this.awards.positionAwards" class="position-div">
        <h2>
            {{ award.position }}
        </h2>
        
        <div class="row">
            <div>
                <span class="label-left">Best: {{ award.best.points }}</span>
                <app-player-card [playerId]="award.best.player.player_id"></app-player-card>
                <app-owner-information [rosterAndLeagues]="getOwner(award.best.player.player_id, currentWeek, true) | async"></app-owner-information>
            </div>

            <div>
                <span class="label-left">Worst: {{ award.worst.points }}</span>
                <app-player-card [playerId]="award.worst.player.player_id"></app-player-card>
                <app-owner-information [rosterAndLeagues]="getOwner(award.worst.player.player_id, currentWeek, true) | async"></app-owner-information>
            </div>

            <div>
                <span class="label-left">Bench: {{ award.bestBench.points }}</span>
                <app-player-card [playerId]="award.bestBench.player.player_id"></app-player-card>
                <app-owner-information [rosterAndLeagues]="getOwner(award.bestBench.player.player_id, currentWeek, false) | async"></app-owner-information>
            </div>
        </div>

        <!-- <h2>
            {{ award.position }} Benchwarmer
        </h2>

        <div class="row">
            <div>
                Best: {{ award.bestBench.points }}
                <app-player-card [playerId]="award.bestBench.player.player_id"></app-player-card>
                <app-owner-information [rosterAndLeagues]="getOwner(award.bestBench.player.player_id, currentWeek, false) | async"></app-owner-information>
            </div>

            <div>
                Worst: {{ award.worstBench.points }}
                <app-player-card [playerId]="award.worstBench.player.player_id"></app-player-card>
                <app-owner-information [rosterAndLeagues]="getOwner(award.worstBench.player.player_id, currentWeek, false) | async"></app-owner-information>
            </div>
        </div> -->
    </div>
    
</div>
