button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 15px;
}

.mat-fab{
    height:200px !important;
    width:200px !important;
    font-size:36px !important;
}