<button mat-fab color="primary"
    [style.backgroundImage]="'url(' + 'assets/img/buttons/drafts.jpg' + ')'"
    (click)="this.goTo('drafts')"
>
    Draft
</button>

<button mat-fab color="primary"
    [style.backgroundImage]="'url(' + 'assets/img/buttons/standings.jpg' + ')'"
    (click)="this.goTo('standings')"
>
    Standings
</button>

<button mat-fab color="primary"
    [style.backgroundImage]="'url(' + 'assets/img/buttons/matchups.jpg' + ')'"
    (click)="this.goTo('matchups')"
>
    Matchups
</button>


<button mat-fab color="primary"
    [style.backgroundImage]="'url(' + 'assets/img/buttons/awards2.jpg' + ')'"
    (click)="this.goTo('awards')"
>
    Awards
</button>
