<div [class]="preview ? 'preview' : 'no-preview'" *ngIf="this.leagueUser !== null && this.leagueUser !== undefined">
    <mat-card-header>
        <div mat-card-avatar class="roster-card-header-image">
            <img [src]="getAvatarUrl()" />
        </div>
        <div class="title-container">
            <div class="title" (click)="this.goToRoster()">{{ this.leagueUser.display_name }}</div>
            <div class="subtitle">{{ this.leagueUser.metadata.team_name }}</div>
        </div>
    </mat-card-header>
</div>
