.preview .title {
    font-size: 12px;
}

.preview .subtitle {
    font-size: 10px;
}

.preview .roster-card-header-image img {
    max-width: 30px;
    max-height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
  }