<div *ngIf="roster !== null && roster !== undefined">
    <mat-card class="roster-card">
        <app-user
            [preview]="false"
            [leagueUser]="user"
            [leagueId]="roster.league_id"
        ></app-user>
        <mat-card-content>
            <h3>Starters:</h3>
            <div *ngFor="let player of getStarters()" class="row">
                <app-player-card [playerId]="player"></app-player-card>
            </div>
            <h3>Others:</h3>
            <div *ngFor="let player of getNoneStarters()" class="row">
                <app-player-card [playerId]="player"></app-player-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>
