<div *ngIf="roster !== null && roster !== undefined">
    <mat-card class="roster-card">
        <app-user
            [preview]="false"
            [leagueUser]="user"
            [leagueId]="roster.league_id"
        ></app-user>
        <mat-card-content>
            <ng-container *ngIf="getStarters().length > 0">
                <h3>Starters</h3>
                <div *ngFor="let player of getStarters()" class="row">
                    <app-player-card [playerId]="player"></app-player-card>
                </div>
            </ng-container>
            
            <ng-container *ngIf="getBench().length > 0">
                <h3>Bench</h3>
                <div *ngFor="let player of getBench()" class="row">
                    <app-player-card [playerId]="player"></app-player-card>
                </div>
            </ng-container>

            <ng-container *ngIf="getReserve().length > 0">
                <h3>IR</h3>
                <div *ngFor="let player of getReserve()" class="row">
                    <app-player-card [playerId]="player"></app-player-card>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
