<div class="content" *ngIf="league !== undefined">

    <h2>
        {{ league.name }}
    </h2>

    <ng-container *ngIf="loaded">

        <div class="round-row">
            <span *ngFor="let slot of slots">
                <app-current-draft-slot-team
                    [draft]="draft"
                    [slot]="slot"
                ></app-current-draft-slot-team>
            </span>
        </div>

        <div *ngFor="let round of rounds" class="round-row">
            <span *ngFor="let slot of slots">
                <app-current-draft-slot
                [leagueId]="leagueId"
                [round]="round"
                [slot]="slot"
                [pick]="getPick(round, slot)"
                [tradedPicks]="tradedPicks"
                ></app-current-draft-slot>
            </span>
        </div>
    </ng-container>

</div>
