.position-div {
    margin-bottom: 10px;
}

.league-select {
    margin-left: 20px;
}

.row {
    background-color: dimgray !important;
    padding: 10px;
}

table.mat-table {
    width: 100%;
}

.label-left {
    display: inline-block;
    width: 100px;
}

app-owner-information {
    display: block;
}

.error {
    color: red;
}

h1 button {
    background-color: dimgray;
    margin-left: 5px;
}

td {
    padding-right: 20px !important;
}