.overview-container {
    width: 40%;
    min-width: 600px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

h1 button {
    background-color: dimgray;
    margin-left: 5px;
}