.mat-card {
    display: inline-block;
    width: 40%;
    margin-right: 5px;
}

.col {
    float: left;
    margin-right: 5px;
}

.col-score {
    float: right;
}

button {
    background-color: dimgray !important;
    border-radius: 40%;
    cursor: default;
    min-width: 50px;
    height: 30px;
    line-height: 21px;
    font-size: 14px;

    &::ng-deep .mat-button-wrapper{
        line-height: 21px;
        padding: 0;
    }
}
