<div  class="col-starters left">
    <div *ngFor="let starterId of matchupPair.matchup1.starters; let i = index" class="row">
        <app-player-card [playerId]="starterId" [directionClass]="'right'"></app-player-card>
        <div class="col-score right">
            {{ matchupPair.matchup1.starters_points[i] | number: '1.2-2' }}
        </div>
    </div>
</div>

<div  class="col-starters right">
    <div *ngFor="let starterId of matchupPair.matchup2.starters; let i = index" class="row">
        <app-player-card [playerId]="starterId"></app-player-card>
        <div class="col-score left">
            {{ matchupPair.matchup2.starters_points[i] | number: '1.2-2' }}
        </div>
    </div>
</div>
